﻿@{
    ViewBag.Title = "About";
}

<h3>Coding Exercise</h3>
<p>

    The following problem should take approximately 4
    hours to complete the full solution.  The submitted code should be of
    the quality we can expect during a normal working week.

</p>
<p>
    The application should not fail on invalid input.
    As you will not have the opportunity to clarify requirements, feel
    free to emphasize any assumptions in your submission.
</p>
<p>
    You are welcome to use any external libraries you
    want.
</p>
<p>
    Unit tests are required. You are required to show
    your ability to provide reasonable production quality code. Complete
    lack of test coverage will disqualify you immediately.
</p>
<p>
    <B>There are no tricks or gotchas</B>
    :
    only implement the functionality described below.  It is a simple
    problem to solve, but code quality is as important as solving the
    problem itself.

</p>
<p>
    <B>Problem: Calculator</B>
</p>
<p>
    Write some code to calculate a result from a set
    of instructions.  Instructions comprise of a keyword and a number
    that are separated by a space per line.  Instructions are loaded from
    file and results are output to the screen. Any number of Instructions
    can be specified. Instructions can be any binary operators of your
    choice (e.g., add, divide, subtract, multiply etc).  The instructions
    will ignore mathematical precedence. The last instruction should be
    “apply” and a number (e.g., “apply 3”). The
    calculator
    is then initialised with that number and the previous instructions
    are applied to that number.
</p>
<p>
    Examples of the calculator
    lifecycle might be:
</p>
<p>
    &nbsp;<B>Example 1.</B>
</p>
<p>
    &nbsp;[Input from file]
</p>
<p>
    add 2<BR>
    multiply
    3
    <BR>apply 3
</p>
<p>
    [Output to screen]<BR>15
</p>
<p>
    &nbsp;
</p>
<p>
    [Explanation]
</p>
<p>
    (3 + 2) * 3 = 15
</p>
<p>
    &nbsp;
</p>
<p>
    <B>Example 2.</B>
</p>
<p>
    [Input from file]<BR>
    multiply
    9
    <BR>apply 5
</p>
<p>
    &nbsp;[Output to screen]<BR>45
</p>
<p>
    &nbsp;
</p>
<p>
    [Explanation]
</p>
<p>
    5 * 9 = 45
</p>
<p>
    <B>Example 3.</B>
</p>
<p>
    [Input from file]<BR>
    apply
    1

</p>
<p>
    &nbsp;[Output to screen]<BR>1
</p>
<p>
