﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>E-mail:</strong>   <a href="mailto:augustohcr@gmail.com">augustohcr@gmail.com</a><br />
    <abbr title="Phone">P:</abbr>
    +420 730 890 981
</address>