﻿@using Technical_test.Controllers
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Upload a file</h1>
    <h3>Avaiable operators:</h3>
    <p>ADD</p>
    <p>SUBTRACT</p>
    <p>MULTIPLY</p>
    <p>DIVIDE</p>
    
    <h3>Instruction format: </h3>
    <p>[OPERATOR] [NUMBER]</p>

    <div class="btn-file btn btn-primary btn-lg">
        <span>
            <i class="glyphicon glyphicon-file"></i> Upload
        </span>
        <input type="file" id="btnFileUpload" accept=".txt" >
    </div>

    <!-- Modal -->
    <div id="resultModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Result</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts
{

    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jquery.fileupload.js"></script>

    <script type="text/javascript">

        $('#btnFileUpload').fileupload({
            url: '@Url.Action("ProccessFile", "Home")?upload=start',
            add: function(e, data) {
                data.submit();
            },
            success: function(response) {
                // Success callback
                console.log(response);
                if (response.description !== "")
                    toastr.warning(response.description);
                else {
                    toastr.success('File successfully processed');
                }

                for (var i = 0; i < response.result.length; i++) {
                    $("#resultModal .modal-body p").append(response.result[i] + "</br>");
                }

                $('#resultModal').modal('show');


            },
            error: function (error) {
                console.log(error);
                toastr.error(error.responseJSON.description);
            }
        });

        $("#resultModal").on('hidden.bs.modal', function () {
            $("#resultModal .modal-body p").empty();
        });

    </script>

}